<section data-ng-controller="HomeController" data-ng-init="loadHomeData()">

	<!-- Not logged user -->
	<div data-ng-hide="authentication.user">
		<div class="page-header">
			<div class="jumbotron">
				<h1>Bienvenido a Numis</h1>
				<p>Para continuar debe:</p>
				<p>
					<a class="btn btn-primary btn-lg" href="#!/signin" role="button"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> Iniciar sesión</a>
						o
					<a class="btn btn-primary btn-lg" href="#!/signup" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Registrarse</a>
				</p>

			</div>
		</div>

		<div class="panel panel-default" data-ng-show="cookiePolicyHide">
			<div class="panel-heading">
				<h3 class="panel-title">Politica de Cookies</h3>
			</div>
			<div class="panel-body text-center">
				<strong>Uso de Cookies</strong><br />
Utilizamos cookies propias y de terceros para mejorar nuestros servicios. Si continúa navegando, consideramos que acepta su uso e instalación.<br />
				<a role="button" class="btn btn-default" ng-click="cookiePolicyHideToogle()"><span class="glyphicon glyphicon-ok" aria-hidden="true">Acepto</a>
				<a role="button" class="btn btn-default" ng-click="cookiePolicyViewToogle()"><span class="glyphicon glyphicon-book" aria-hidden="true">Ver politica de cookies</a>

				<div data-ng-show="cookiePolicyView">

					<!-- Cookies policy panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Politica de cookies</h3>
						</div>
						<div class="panel-body">
							DEFINICIÓN DE COOKIE

Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. Puede hallar más información sobre cookies aquí: http://www.iabspain.net/privacidadeninternet/conocer y aquí: http://es.wikipedia.org/wiki/Cookie_(informática)

TIPOS DE COOKIES

Las cookies pueden ser propias y de terceros. Son propias aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el titular de la web. Son de terceros aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el titular de la web que le da el servicio.

Las cookies pueden ser de sesión o persistentes. Son cookies de sesión las diseñadas para recabar y almacenar datos mientras el usuario accede a la web. Las persistentes son un tipo de cookie en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.

Las cookies pueden ser también necesarias o no necesarias. Las primeras son cookies imprescindibles para la normal prestación del servicio, de modo que si las desactiva no podrá recibirlo correctamente. Las segundas, no afectan a la normal prestación del servicio aunque su desactivación impedirá que cumplan su finalidad.

A su vez, las cookies pueden dividirse en varios tipos según su finalidad. Atendiendo a este criterio, y siguiendo la definición ofrecida de cada una de ellas por la Agencia de Protección de Datos, las cookies pueden dividirse en:

Cookies técnicas: Son aquellas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.
Cookies de personalización: Son aquellas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serían el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.
Cookies de análisis: Son aquellas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.
Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.
Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo”.
Puedes permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador:

Chrome. Accede a la información aquí: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647

Explorer. Accede a la información aquí http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9

Firefox. Accede a la información aquí http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we

Safari. Accede a la información aquí http://support.apple.com/kb/ph5042

Si las cookies que desinstalas son necesarias, debes tener en cuenta que no recibirás el servicio correctamente. Si las que desinstalas no son necesarias, podrás seguir recibiendo el servicio pero las finalidades de la cookie no podrán cumplirse.


						</div>
					</div>
					<!-- END cookies policy panel -->
				</div>
			</div>
		</div>

	</div>
	<!-- END Not logged user -->

	<!-- Logged user -->
	<div data-ng-show="authentication.user">
		<div class="page-header">
			Bienvenido <strong data-ng-bind="authentication.user.username"></strong>
		</div>
		<div class="col-md-12">
			<!-- Error area -->
			<div data-ng-show="error" class="alert alert-danger" role="alert">
				<strong data-ng-bind="error"></strong>
			</div>
			<!-- END error area-->
			<div class="col-md-6">
				<!-- Panel de mis compras -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Mis compras</h3>
					</div>
					<div class="panel-body">
						<a data-ng-repeat="groupbuy in myGroupbuys track by $index"  data-ng-href="#!/groupbuys/{{groupbuy._id}}" class="list-group-item">
				            <strong><span data-ng-bind="groupbuy.title"></span></strong>
				            <small><span ng-bind-html="groupbuy.description"></span></small>
				        </a>
						<div class="pull-right">
							<a href="#!/groupbuys/my-list">Ver todas mis compras</a>
						</div>
					</div>
				</div>
				<!-- FIN Panel mis compras -->
			</div>
			<div class="col-md-6">
				<!-- Panel de Avisos -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Avisos</h3>
					</div>
					<div class="panel-body">

					</div>
				</div>
				<!-- FIN Panel de Avisos -->
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
				<!-- Panel de mis Compras nuevas -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Compras nuevas</h3>
					</div>
					<div class="panel-body">
						<a data-ng-repeat="groupbuy in allGroupbuys track by $index"  data-ng-href="#!/groupbuys/{{groupbuy._id}}" class="list-group-item">
				            <strong><span data-ng-bind="groupbuy.title"></span></strong>
				            <small><span ng-bind-html="groupbuy.description"></span></small>
				        </a>
						<div class="pull-right">
							<a href="#!/groupbuys">Ver compras nuevas</a>
						</div>
					</div>
				</div>
				<!-- FIN Panel de mis Compras nuevas -->
			</div>
			<div class="col-md-6">
				<!-- Panel de Mensajes -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Mensajes</h3>
					</div>
					<div class="panel-body">

					</div>
				</div>
				<!-- FIN Panel de Mensajes -->
			</div>
		</div>
	</div>
	<!--  END Logged user -->

</section>