<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">{{'users.Sign_in_social_accounts' | translate}}</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
<!--
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
-->
	</div>
	<h3 class="col-md-12 text-center">{{'users.Sign_in_local_account' | translate}}</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">{{'users.Username' | translate}}</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{'users.Username' | translate}}">
				</div>
				<div class="form-group">
					<label for="password">{{'users.Password' | translate}}</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{'users.Password' | translate}}">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">{{'users.Sign_in' | translate}}</button>&nbsp; {{'users.Sign_in_or' | translate}}&nbsp;
					<a href="/#!/signup">{{'users.Sign_up' | translate}}</a>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot">{{'users.Forgot_password?' | translate}}</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>