<section data-ng-controller="AdminController">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Panel de usuarios pendientes -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Usuarios pendientes de acción</h3>
                </div>
                <div class="panel-body">


                </div>
            </div>
            <!-- FIN Panel usuarios pendientes -->

        </div>
    </div>
    <!--  FIN Panel de la pestaña -->
</section>
