<section data-ng-controller="AdminController">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Panel de compras en grupo actuales -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Compras en grupo actuales</h3>
                </div>
                <div class="panel-body">


                </div>
            </div>
            <!-- FIN Panel compras en grupo actuales -->

            <!-- Panel de compras en grupo anteriores -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Compras en grupo anteriores</h3>
                </div>
                <div class="panel-body">


                </div>
            </div>
            <!-- FIN Panel compras en grupo anteriores -->

        </div>
    </div>
    <!--  FIN Panel de la pestaña -->
</section>
