<section data-ng-controller="GroupbuysTabDeliveriesController" data-ng-init="loadDeliveryData()">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Vista de participante -->
            <div data-ng-show="(userRole !== 'manager')">
                <form data-ng-submit="saveDeliveryData()" name="memberManagerForm" novalidate>
                    <!-- Panel de informacion del pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dirección del envio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="deliveryAddress" data-ng-model="delivery.address"  name="deliveryAddress" class="form-control" rows="5" placeholder="Dirección del envio"></textarea>
                            </div>
                            <input type="button" value="Copiar dirección del perfil" ng-click="copyHomeAdress()" class="btn btn-default">
                        </div>
                    </div>
                    <!-- FIN Panel de informacion del pago -->

                    <!-- Panel de notas sobre el pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Detalles del envio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="deliveryInfo" name="deliveryInfo" ng-model="delivery.info" class="form-control" rows="5" placeholder="Información sobre el pago" disabled readonly></textarea>
                            </div>
                        </div>
                        <div style="text-align: center; padding-bottom: 10px;">
                            <div>
                                <input type="checkbox" ng-model="delivery.shipped" disabled readonly><span>Enviado</span>
                                <input type="checkbox" ng-model="delivery.received" style="margin-left: 20px;"><span>Recibido</span>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Panel de notas sobre el pago -->
                    <input type="submit" value="Guardar" class="btn btn-default">
                </form>
            </div>
            <!-- FIN Vista de participante -->


            <!-- Vista de gestor -->
            <div data-ng-show="(userRole === 'manager')">

                <form data-ng-submit="saveDeliveryData()" name="PaymentManagerForm" novalidate>
                    <!-- Panel de informacion del envio -->
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <div class="member {{selected}}" data-ng-repeat="member in groupbuy.members_extended_data track by $index" data-ng-click="selectMember(member);">
                                    <img class="img-responsive img-circle" ng-src="{{member.avatar}}?size=sm" fb-src="['/modules/users/img/no-user-image-square-sm.jpg']" alt="avatar" /><span>{{member.username}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- Direccion envio -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Direccion del envio</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea id="deliveryAddress" name="deliveryAddress" ng-model="delivery.address" class="form-control" rows="5" placeholder="Información sobre el pago" disabled readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN direccion envio-->
                            <!-- Detalles envio -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Detalles del envio</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <textarea id="deliveryInfo" name="deliveryInfo" ng-model="delivery.info" class="form-control" rows="5" placeholder="Información sobre el pago"></textarea>
                                    </div>
                                </div>
                                <div style="text-align: center; padding-bottom: 10px;">
                                    <div>
                                        <input type="checkbox" ng-model="delivery.shipped"><span>Enviado</span>
                                        <input type="checkbox" ng-model="delivery.received" style="margin-left: 20px;" disabled readonly><span>Recibido</span>
                                    </div>
                                </div>
                                <input type="submit" value="Guardar" class="btn btn-default">
                            </div>
                            <!-- FIN Detalles envio-->
                        </div>
                    </div>

                    <!-- FIN Panel de informacion del pago -->

                </form>
            </div>
            <!-- FIN Vista de gestor -->

          </div>
    </div>
<!--  FIN Panel de la pestaña -->

</section>
