<section data-ng-controller="GroupbuysTabManagersController" data-ng-init="loadManagersData()">

    <div class="panel panel-default">
        <div class="panel-body">

            <!--  Gestores actuales -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'groupbuys.Managers' | translate}}</h3>
                </div>
                <div class="panel-body">

                    <div class="member" data-ng-repeat="manager in groupbuy.managers_extended_data track by $index">
                        <span data-ng-show="(userRole === 'manager')">
                            <button type="button" class="btn btn-danger" aria-label="" data-ng-click="deleteManager(manager._id);">
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                            </button>
                        </span>
                        <img class="img-responsive img-circle" ng-src="{{manager.avatar}}?size=sm" fb-src="['/modules/users/img/no-user-image-square-sm.jpg']" alt="avatar" /><span>{{manager.username}}</span>
                    </div>
                    <br />
                    <div data-ng-show="error && (userRole === 'manager')" class="alert alert-danger" role="alert">
                        <strong data-ng-bind="error"></strong>
                    </div>

                </div>
            </div>
            <!--  FIN Gestores actuales -->

            <!--  Añadir gestor -->
            <div class="panel panel-default" data-ng-show="(userRole == 'manager')">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'groupbuys.Add_Manager' | translate}}</h3>
                </div>
                <div class="panel-body">


                    <span>{{'groupbuys.Search' | translate}}:</span>
                    <form>
                        <input type="text" data-ng-model="filterUsers" id="error" class="form-control" placeholder="{{'groupbuys.Filter' | translate}}" >
                    </form>

                    <hr>

                    <div class="member" ng-repeat="user in groupbuy.usersList | filter:filterUsers track by $index ">

                        <button type="button" class="btn btn-success" aria-label="" data-ng-click="addManager(user._id);">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                        <img class="img-responsive img-circle" ng-src="{{user.avatar}}?size=sm" fb-src="['/modules/users/img/no-user-image-square-sm.jpg']" alt="avatar" /> <span>{{user.username}}</span>
                    </div>

                </div>
            </div>
            <!--  FIN Añadir gestor -->

        </div>
    </div>
    <!--  FIN Panel de la pestaña -->
</section>
