<section data-ng-controller="GroupbuysTabPaymentsController" data-ng-init="loadAllPaymentData()">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Vista de participante -->
            <div data-ng-show="(userRole !== 'manager')">
                <form data-ng-submit="joinGroupbuy()" name="memberManagerForm" novalidate>
                    <!-- Panel de informacion del pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Información sobre el pago</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="paymentInfo" name="paymentInfo" class="form-control" rows="5" ng-model="payment.info" placeholder="Notas de los gestores" disabled readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Panel de informacion del pago -->

                    <!-- Panel de cantidad a pagar -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cantidad a pagar</h3>
                        </div>
                        <div class="panel-body">
                            <b>Precio items: </b><span>{{payment.subtotal}} €</span> +<br />
                            <b>Envio proporcional: </b><span>{{payment.providerShippingCost}} €</span> +<br />
                            <b>Envio Propio: </b><span>{{payment.shippingCost}} €</span> +<br />
                            <b>Otros: </b><span>{{payment.otherCosts}} €</span><br />
                            <span>---------------------</span><br />
                            <b>TOTAL: </b><span>{{payment.total}} €</span><br />
                        </div>
                    </div>
                    <!-- FIN Panel de cantidad a pagar -->

                    <!-- Panel de notas sobre el pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Notas sobre el pago para los gestores</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="paymentInfo" name="paymentInfo" class="form-control" rows="5" ng-model="payment.infoManagers"  placeholder="Notas sobre el pago para los gestores" ></textarea>
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" ng-model="payment.paid" ></td><span>Pagado</span><br />
                            <input type="checkbox" disabled readonly ng-model="payment.received" ></td><span>Recibido</span>
                        </div>
                    </div>
                    <!-- FIN Panel de notas sobre el pago -->
                    <input type="submit" value="Guardar" class="btn btn-default" ng-click="savePaymentData()">
                </form>
            </div>
            <!-- FIN Vista de participante -->


            <!-- Vista de gestor -->
            <div data-ng-show="(userRole == 'manager')">

                <form data-ng-submit="joinGroupbuy()" name="PaymentManagerForm" novalidate>
                    <!-- Panel de informacion del pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Información sobre el pago</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="paymentInfo" name="paymentInfo" class="form-control" rows="5" placeholder="Información sobre el pago" ></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Panel de informacion del pago -->

                    <!-- Panel de costes de envio -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Costes de envio entre el proveedor y gestores</h3>
                        </div>
                        <div class="panel-body">
                            <span>Coste del envio entre el proveedor y el gestor (a partes iguales):</span>
                            <input type="text"> €
                        </div>
                    </div>
                    <!-- FIN Panel de costes de envio -->

                    <!-- Panel de participantes -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Desglose de participantes</h3>
                        </div>
                        <div class="panel-body">
                            <table class="paymentTable">
                                <tr>
                                    <th class="paymentCell">Participante</th>
                                    <th class="paymentCell">Precio Items</th>
                                    <th class="paymentCell">Envio porporcional</th>
                                    <th class="paymentCell">Envio Propio</th>
                                    <th class="paymentCell">Otros</th>
                                    <th class="paymentCell">Total</th>
                                    <th class="paymentCell">Pagado</th>
                                    <th class="paymentCell">Notas de pago</th>
                                    <th class="paymentCell">Recibido</th>
                                </tr>
                                <tr ng-repeat="payment in allPaymentData track by $index">
                                    <td class="paymentCell">{{payment.username}}</td>
                                    <td class="paymentCell">{{payment.subtotal}} €</td>
                                    <td class="paymentCell">{{payment.providerShippingCost}} €</td>
                                    <td class="paymentCell"><input type="text" ng-model="payment.shippingCost"> €</td>
                                    <td class="paymentCell"><input type="text" ng-model="payment.otherCosts"> €</td>
                                    <td class="paymentCell">{{payment.total}} €</td>
                                    <td class="paymentCell"><input type="checkbox" disabled readonly></td>
                                    <td class="paymentCell">
                                        <button type="button" class="btn btn-info" aria-label="" data-ng-click="showPaymentNotes(payment._id)">
                                            <span>Ver notas</span>
                                        </button>
                                    </td>
                                    <td class="paymentCell"><input type="checkbox"></td>
                                </tr>
                            </table>

                            <div ng-show="paymentNoteShow" class="paymentNotes">
                                <strong>Nota del participante:</strong><br />
                                <p>{{paymentNote}}</p>
                                <button type="button" class="btn btn-success" aria-label="" data-ng-click="showPaymentNotes(0)">
                                    <span>Cerrar</span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <!-- FIN Panel de participantes -->
                    <input type="submit" value="Guardar" class="btn btn-default"  ng-click="saveAllPaymentData()">
                </form>
            </div>
            <!-- FIN Vista de gestor -->



          </div>
    </div>
<!--  FIN Panel de la pestaña -->

</section>
