<section data-ng-controller="GroupbuysTabPaymentsController" data-ng-init="loadPaymentData()">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Vista de participante -->
            <div data-ng-show="(userRole !== 'manager')">
                <form data-ng-submit="savePayment()" name="memberManagerForm" novalidate>
                    <!-- Panel de informacion del pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Información sobre el pago</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="paymentInfoManager" name="paymentInfoManager" class="form-control" rows="5" ng-model="payment.infoManager" placeholder="Notas de los gestores" disabled readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Panel de informacion del pago -->

                    <!-- Panel de cantidad a pagar -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cantidad a pagar</h3>
                        </div>
                        <div class="panel-body">
                            <b>Subtotal: </b><span>{{order.subtotal}} {{groupbuy.currencies.local.symbol}}</span><br />
                            <b>Gastos de envío proveedor-gestor: </b><span>{{order.providerShippingCost}} {{groupbuy.currencies.local.symbol}}</span><br />
                            <b>Gastos de envío gestor-participante: </b><span>{{order.shippingCost}} {{groupbuy.currencies.local.symbol}}</span><br />
                            <b>Gastos añadidos: </b><span>{{order.otherCosts}} {{groupbuy.currencies.local.symbol}}</span><br />
                            <span>---------------------</span><br />
                            <b>TOTAL: </b><span>{{order.total}} {{groupbuy.currencies.local.symbol}}</span><br />
                        </div>
                    </div>
                    <!-- FIN Panel de cantidad a pagar -->

                    <!-- Panel de notas sobre el pago -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Notas sobre el pago para los gestores</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea id="paymentInfo" name="paymentInfo" class="form-control" rows="5" ng-model="order.payment.info"  placeholder="Notas sobre el pago para los gestores" ></textarea>
                            </div>
                        </div>
                        <div style="text-align: center; padding-bottom: 10px;">
                            <div>
                                <input type="checkbox" ng-model="order.payment.paid" ></td><span>Pagado</span>
                                <input type="checkbox" ng-model="order.payment.received" style="margin-left: 20px;" disabled readonly ></td><span>Recibido</span>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Panel de notas sobre el pago -->
                    <input type="submit" value="Guardar" class="btn btn-default">
                </form>
            </div>
            <!-- FIN Vista de participante -->

            <!-- Vista de gestor -->
            <div data-ng-show="(userRole === 'manager')">

                <!-- Panel de informacion del pago -->
                <form data-ng-submit="savePayment()" name="PaymentManagerForm" novalidate>
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <div class="member {{selected}}" data-ng-repeat="member in groupbuy.members_extended_data track by $index" data-ng-click="selectMember(member);">
                                    <img class="img-responsive img-circle" ng-src="{{member.avatar}}?size=sm" fb-src="['/modules/users/img/no-user-image-square-sm.jpg']" alt="avatar" /><span>{{member.username}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <form data-ng-submit="savePayments()" name="PaymentManagerForm" novalidate>
                                <!-- Información del miembro -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Información del participante sobre el pago</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <textarea id="paymentInfo" name="paymentInfo" ng-model="order.payment.info" class="form-control" rows="5" placeholder="Información sobre el pago" disabled readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN Información del miembro -->
                                <!-- Información del gestor -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Detalles del gestor sobre pago</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <textarea id="paymentInfoManagers" name="paymentInfoManagers" ng-model="order.payment.infoManagers" class="form-control" rows="5" placeholder="Información sobre el pago"></textarea>
                                        </div>
                                        Subtotal: <span>{{order.subtotal}} {{groupbuy.currencies.local.symbol}}</span><br />
                                        Gastos de envío proveedor-gestor: <span>{{order.providerShippingCost}} {{groupbuy.currencies.local.symbol}}</span><br />
                                        Gastos de envío gestor-participante: <span><input class="" type="text" ng-model="order.shippingCost"> {{groupbuy.currencies.local.symbol}}</span><br />
                                        Gastos añadidos: <span><input type="text" ng-model="order.otherCosts"> {{groupbuy.currencies.local.symbol}}</span><br />
                                        <hr/>
                                        TOTAL: <span>{{order.total}} {{groupbuy.currencies.local.symbol}}</span><br />

                                        <div style="text-align: center; padding-bottom: 10px;">
                                            <div>
                                                <input type="checkbox" ng-model="order.payment.paid" disabled readonly><span>Pagado</span>
                                                <input type="checkbox" ng-model="order.payment.received" style="margin-left: 20px;"><span>Recibido</span>
                                            </div>
                                        </div>
                                        <input type="submit" value="Guardar" class="btn btn-default">
                                    </div>

                                </div>
                                <!-- FIN Información del gestor -->
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <!-- FIN Vista de gestor -->



          </div>
    </div>
<!--  FIN Panel de la pestaña -->

</section>
