<section data-ng-controller="GroupbuysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Groupbuys</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="groupbuy in groupbuys" data-ng-href="#!/groupbuys/{{groupbuy._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="groupbuy.created | date:'medium'"></span>
				by
				<span data-ng-bind="groupbuy.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="groupbuy.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!groupbuys.$resolved || groupbuys.length">
    	No Groupbuys yet, why don't you <a href="/#!/groupbuys/create">create one</a>?
    </div>
</section>