<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">{{'users.Change_your_password' | translate}}</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
		<form name="passwordForm" data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<label for="currentPassword">{{'users.Current_Password' | translate}}</label>
						<input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-required="true" data-ng-model="passwordDetails.currentPassword" placeholder="{{'users.Current_Password' | translate}}">
					</div>
					<div class="col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
						<span class="error-message" data-ng-show="passwordForm.currentPassword.$dirty && passwordForm.currentPassword.$error.required" translate="core.FIELD_REQUIRED"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<label for="newPassword">{{'users.New_Password' | translate}}</label>
						<input type="password" id="newPassword" name="newPassword" class="form-control" ng-required="true" ng-minlength="8" data-ng-model="passwordDetails.newPassword" placeholder="{{'users.New_Password' | translate}}">
					</div>
					<div class="col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
						<span class="error-message" data-ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$error.required" translate="core.FIELD_REQUIRED"></span>
						<span class="error-message" data-ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$error.minlength" translate="core.FIELD_MINLENGTH" translate-values="{min: 8}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<label for="verifyPassword">{{'users.Verify_Password' | translate}}</label>
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-required="true" ng-minlength="8" data-ng-model="passwordDetails.verifyPassword" placeholder="{{'users.Verify_Password' | translate}}">
					</div>
					<div class="col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
						<span class="error-message" data-ng-show="passwordForm.verifyPassword.$dirty && passwordForm.verifyPassword.$error.required" translate="core.FIELD_REQUIRED"></span>
						<span class="error-message" data-ng-show="passwordForm.verifyPassword.$dirty && passwordForm.verifyPassword.$error.minlength" translate="core.FIELD_MINLENGTH" translate-values="{min: 8}"></span>
					</div>
				</div>
				<alert type="success" data-ng-show="success">
					<strong>{{'users.Password_Changed_Successfully' | translate}}</strong>
				</alert>
				<alert type="danger" data-ng-show="error">
					<strong data-ng-bind="error"></strong>
				</alert>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary" ng-disabled="passwordForm.$invalid">{{'users.Save_Password' | translate}}</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>